[Unit]
Description=Poltergeist Client
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=@@CLIENT_DIR@@
ExecStart=@@CLIENT_DIR@@/client.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=poltergeist
Restart=on-abort

[Install]
WantedBy=multi-user.target
