[Unit]
Description=Poltergeist Client
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/poltergeist/client
ExecStart=/usr/bin/python -u /root/poltergeist/client/client.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=poltergeist
Restart=on-abort

[Install]
WantedBy=multi-user.target
