<html>
	<head>
		<title>@title@</title>
<!--		<meta property="og:title" content="@title@"/>-->
<!--		<meta property="og:image" content="/static/@site_name@/@imgfile@"/>-->
	</head>
	<body>
<!--		<p align="center"><img src='@imgfile@' /></p>-->
	</body>
</html>
